ul.rktab {
    list-style: none;
    margin: 10px 0 auto;
    padding: 0;
	zoom: 1; }
ul.rktab:after { 
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden; }
ul.rktab li {
    float: left;
    margin: 0;
	padding: 0;
	height: 26px;
	background: transparent;
	border: 1pt solid #99CCFF;
	border-bottom: none; }
ul.rktab li.selected,
ul.rktab li:hover {
    float: left;
    margin: 0;
	padding: 0;
	height: 26px;
	background: #ADD8E6; }
ul.rktab li a {
    z-index: 12;
	margin: 0;
    padding: 0 0 0 10px;
    color: #27537a;
    font-size: 12px;
    font-weight: bold;
    line-height: 2.4em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
	float: left;
	display: block;
	background: transparent;    }
ul.rktab li.selected a,
ul.rktab li a:hover {
    z-index: 12;
	margin: 0;
    padding: 0 0 0 10px;
    color: #000;
    font-size: 12px;
    line-height: 2.4em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap; 
	float: left;
	display: block;
	background: #ADD8E6;    }
ul.rktab li a em{
    z-index: 12;
	margin: 0;
    padding: 0 10px 0 0;
	font-style: normal;
    font-weight: bold;
    text-align: center;
    white-space: nowrap; 
	float: left;
	display: block;
	background: transparent;    }
ul.rktab li.selected a em,
ul.rktab li a:hover em{
    z-index: 12;
	margin: 0;
    padding: 0 10px 0 0;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
	float: left;
	display: block;
	background: ##ADD8E6;    }
ul.rktab li.selected a,
ul.rktab li.selected a:hover {
	color: #000; }
div.accessranking {
	margin: 0;
	padding: 10px;
	border: 1pt solid #99CCFF; }
