/* widget-accessranking css setting ------ */
.widget-accessranking {
  position: relative;
  overflow: hidden;
}

.widget-accessranking .widget-content {
  position: static;
  width: 100%;
}

.widget-accessranking .entries,
.widget-accessranking .nav-tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  *zoom: 1;
}

.widget-accessranking .nav-tabs {
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.widget-accessranking .widget-content:before,
.widget-accessranking .widget-content:after,
.widget-accessranking .nav-tabs:before,
.widget-accessranking .nav-tabs:after {
  display: table;
  line-height: 0;
  content: "";
}

.widget-accessranking .widget-content:after,
.widget-accessranking .nav-tabs:after {
  clear: both;
}

.widget-accessranking .nav-tabs li {
  margin-bottom: -1px;
  float: left;
}

.widget-accessranking .nav-tabs li a {
  margin-right: 2px;
  padding: 8px 12px;
  line-height: 20px;
  text-decoration: none;
  display: block;
  border: 1px solid #eee;
  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
}

.widget-accessranking .nav-tabs li a:hover {
  text-decoration: none;
  background-color: transparent;
  border-color: #eeeeee #eeeeee #dddddd;
}

.widget-accessranking .nav-tabs .active a,
.widget-accessranking .nav-tabs .active a:hover {
  color: #888;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom: 1px solid transparent;
}

.widget-accessranking .accessranking-content {
  margin: 0;
  padding: 0 10px;
}

.widget-accessranking .entries li {
  margin-bottom: 4px;
}

.widget-accessranking .entries li a,
.widget-accessranking .entries li a:hover {
  text-decoration: none;
}

.widget-accessranking .ranking-count {
  margin: 0;
  padding: 0;
  margin-right: 4px;
  font-size: 0.8em;
  *font-size: 1em;
}

/* widget-accessranking css setting ------ */
