<p>
<MT_TRANS phrase="as_SET_DES">
</p>
	<h4><MT_TRANS phrase="as_SettingTitle"></h4>
<mtapp:setting
    id="analytics_username"
    label="<__trans phrase="as_Google_Analytics_Username">">
    <input type="text" name="analytics_username" id="analytics_username" value="<mt:var name="analytics_username" escape="html">" />
</mtapp:setting>
<mtapp:setting
    id="analytics_password"
    label="<__trans phrase="as_Google_Analytics_Password">">
    <input type="password" name="analytics_password" id="analytics_password" value="<mt:var name="analytics_password" escape="html">" />
</mtapp:setting>
<mtapp:setting
    id="analytics_profile_id"
    label="<__trans phrase="as_Google_Analytics_ProfileID">">
    <input type="text" name="analytics_profile_id" id="analytics_profile_id" value="<mt:var name="analytics_profile_id" escape="html">" />
</mtapp:setting>
<mtapp:setting
    id="analytics_maxresult"
    label="<__trans phrase="as_Google_Analytics_Maxresult">">
    <input type="text" name="analytics_maxresult" id="analytics_maxresult" value="<mt:var name="analytics_maxresult" escape="html">" />
</mtapp:setting>
