<p><__trans phrase="as_SET_DES"></p>
<h4><__trans phrase="as_SET_TITLE"></h4>
<p><__trans phrase="as_ASTERISK"></p>
<ul>
	<li><mtapp:setting
	    id="GA_username"
	    label="<__trans phrase="as_GA_Username">">
	    <input type="text" name="GA_username" id="GA_username" value="<mt:var name="GA_username" escape="html">" />
	</mtapp:setting></li>
	<li><mtapp:setting
	    id="GA_password"
	    label="<__trans phrase="as_GA_Password">">
	    <input type="password" name="GA_password" id="GA_password" value="<mt:var name="GA_password" escape="html">" />
	</mtapp:setting></li>
	<li><mtapp:setting
	    id="GA_profile_id"
	    label="<__trans phrase="as_GA_ProfileID">">
	    <input type="text" name="GA_profile_id" id="GA_profile_id" value="<mt:var name="GA_profile_id" escape="html">" />
	</mtapp:setting></li>
</ul>
<h4><__trans phrase="as_DATA_SET_DETAIL"></h4>
<ul>
	<li><mtapp:setting
	    id="GA_maxresult"
	    label="<__trans phrase="as_GA_Maxresult">">
	    <input type="text" name="GA_maxresult" id="GA_maxresult" value="<mt:var name="GA_maxresult" escape="html">" />
	</mtapp:setting></li>
	<li><mtapp:setting
	    id="GA_exclude_top"
	    label="<__trans phrase="as_GA_Exclude_Top">"
			show_hint="1"
			hint="<__trans phrase="as_GA_Exclude_Top_Hint">">
	    <input type="checkbox" name="GA_exclude_top" id="GA_exclude_top" value="1"<mt:If name="GA_exclude_top"> checked="checked"</mt:If> />
	</mtapp:setting></li>
	<li><mtapp:setting
	    id="GA_exclude_optional_path"
	    label="<__trans phrase="as_GA_Exclude_Optional_Path">"
			show_hint="1"
			hint="<__trans phrase="as_GA_Exclude_Optional_Path_Hint">">
	    <textarea name="GA_exclude_optional_path" id="GA_exclude_optional_path" rows="4" style="width: 100%;"><mt:var name="GA_exclude_optional_path" escape="html"></textarea>
	</mtapp:setting></li>
</ul>
